body{
font-family:Arial;
background:#f4f7f6;
padding:40px;
}

.box{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
max-width:500px;
margin:auto;
text-align:center;
}

button{
background:#3da86a;
border:none;
color:white;
padding:10px 15px;
border-radius:6px;
cursor:pointer;
}

table{
width:100%;
margin-top:20px;
border-collapse:collapse;
}

td,th{
padding:10px;
border-bottom:1px solid #ddd;
}
